// `.okkly-required-marker` / `.okkly-optional-marker` populate a "*" / "(optional)"
// suffix via ::after. Toggle per-scope with `.okkly-use-optional` / `.okkly-use-required`.
@layer okkly.utility {
  :root {
    // https://lea.verou.me/blog/2020/10/the-var-space-hack-to-toggle-multiple-values-with-one-custom-property/
    --ON: initial;
    --OFF: ;
  }

  :root,
  .okkly-use-required {
    --okkly-use-required: var(--ON);
    --okkly-use-optional: var(--OFF);
  }

  .okkly-use-optional {
    --okkly-use-required: var(--OFF);
    --okkly-use-optional: var(--ON);
  }

  .okkly-required-marker::after {
    font-family: var(--okkly-use-required, var(--okkly-font-family-paragraph));
    content: var(--okkly-use-required, "*");
    color: var(--okkly-use-required, var(--okkly-color-text-icons-danger-intense));
    padding-left: var(--okkly-use-required, var(--okkly-spacing-5xs));
  }

  .okkly-optional-marker::after {
    font: {
      family: var(--okkly-use-optional, var(--okkly-font-family-paragraph));
      weight: var(--okkly-use-optional, 400);
      style: var(--okkly-use-optional, normal);
    }
    content: var(--okkly-use-optional, var(--okkly-global-optional-text, "(optional)"));
    color: var(--okkly-use-optional, var(--okkly-color-text-icons-neutral-soft));
    padding-left: var(--okkly-use-optional, var(--okkly-density-xs));
    hyphens: var(--okkly-use-optional, none);
  }
}
